<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GACS" connectionString="Data Source=TSSQL-CDTDEV3\CDT$DEV3;user id=CDTStaging;password=OBDB@cce$$;Initial Catalog=GACS;"/>
    <!--
    <add name="GACS" connectionString="Data Source=cdtsql3;user id=CDTStaging;password=Sqlst@ging;Initial Catalog=GACS;"/>
    -->
  </connectionStrings>
</configuration>