USE [GrReportingStaging]
GO

select * into USCorp.GJOB_bak from USCorp.GJOB
GO

/*
   Wednesday, May 30, 20129:43:58 PM
   User: 
   Server: BISQLDEV\DEV
   Database: GrReportingStaging
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE USCorp.GJOB
	DROP CONSTRAINT DF_GJOB_ImportDate
GO
CREATE TABLE USCorp.Tmp_GJOB
	(
	ImportKey int NOT NULL IDENTITY (1, 1),
	ImportBatchId int NOT NULL,
	ImportDate datetime NOT NULL,
	JOBCODE char(15) NOT NULL,
	DESCRPTN char(35) NULL,
	DESCRPTN2 char(15) NOT NULL,
	PJOBCODE char(1) NOT NULL,
	JOBTYPE char(1) NOT NULL,
	JOBBUDGT money NULL,
	JOBSRTDT datetime NULL,
	JIMPCDT datetime NULL,
	JINACTDT datetime NULL,
	JACTIVE char(1) NOT NULL,
	LASTDATE datetime NULL,
	USERID char(20) NULL,
	SQFEET int NULL,
	BLDGID char(6) NULL,
	LEASID char(6) NULL,
	REVENH char(1) NOT NULL,
	CAPRECUR char(1) NOT NULL,
	PROJAMT money NULL,
	CHNGAMT money NULL,
	ESCYRS smallint NULL,
	ACCTNUM char(14) NULL,
	INSVCDT datetime NULL,
	ASSETID char(8) NULL,
	LIFE smallint NULL,
	MANAGER char(20) NULL,
	JOBCOST char(1) NULL,
	JC_COSTLIST char(3) NULL,
	PCTGCOMP smallint NULL,
	RMPROPID char(6) NULL,
	RMBLDGID char(3) NULL,
	RMUNIT char(6) NULL,
	RMSQFEET int NULL,
	COMMENT text NULL,
	SUITID char(5) NULL,
	ISGR char(1) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE USCorp.Tmp_GJOB SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE USCorp.Tmp_GJOB ADD CONSTRAINT
	DF_GJOB_ImportDate DEFAULT (getdate()) FOR ImportDate
GO
SET IDENTITY_INSERT USCorp.Tmp_GJOB ON
GO
IF EXISTS(SELECT * FROM USCorp.GJOB)
	 EXEC('INSERT INTO USCorp.Tmp_GJOB (ImportKey, ImportBatchId, ImportDate, JOBCODE, DESCRPTN, DESCRPTN2, PJOBCODE, JOBTYPE, JOBBUDGT, JOBSRTDT, JIMPCDT, JINACTDT, JACTIVE, LASTDATE, USERID, SQFEET, BLDGID, LEASID, REVENH, CAPRECUR, PROJAMT, CHNGAMT, ESCYRS, ACCTNUM, INSVCDT, ASSETID, LIFE, MANAGER, JOBCOST, JC_COSTLIST, PCTGCOMP, RMPROPID, RMBLDGID, RMUNIT, RMSQFEET, COMMENT, SUITID, ISGR)
		SELECT ImportKey, ImportBatchId, ImportDate, JOBCODE, DESCRPTN, '', '', JOBTYPE, JOBBUDGT, JOBSRTDT, JIMPCDT, JINACTDT, JACTIVE, LASTDATE, USERID, SQFEET, BLDGID, LEASID, REVENH, CAPRECUR, PROJAMT, CHNGAMT, ESCYRS, ACCTNUM, INSVCDT, ASSETID, LIFE, MANAGER, JOBCOST, JC_COSTLIST, PCTGCOMP, RMPROPID, RMBLDGID, RMUNIT, RMSQFEET, COMMENT, SUITID, ISGR FROM USCorp.GJOB WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT USCorp.Tmp_GJOB OFF
GO
DROP TABLE USCorp.GJOB
GO
EXECUTE sp_rename N'USCorp.Tmp_GJOB', N'GJOB', 'OBJECT' 
GO
ALTER TABLE USCorp.GJOB ADD CONSTRAINT
	PK_GJOB_2 PRIMARY KEY CLUSTERED 
	(
	ImportKey
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
