USE GrReportingStaging
GO

/*
   Thursday, May 31, 20121:43:14 AM
   User: 
   Server: BISQLDEV\DEV
   Database: GrReportingStaging
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE USCorp.JOURNAL
	DROP CONSTRAINT DF_JOURNAL_ImportDate
GO
CREATE TABLE USCorp.Tmp_JOURNAL
	(
	ImportKey int NOT NULL IDENTITY (1, 1),
	ImportBatchId int NOT NULL,
	ImportDate datetime NOT NULL,
	PERIOD char(6) NOT NULL,
	REF char(6) NOT NULL,
	SOURCE char(2) NOT NULL,
	SITEID char(2) NOT NULL,
	ITEM smallint NOT NULL,
	ENTITYID char(6) NOT NULL,
	ACCTNUM char(14) NOT NULL,
	DEPARTMENT char(6) NOT NULL,
	JOBCODE char(15) NULL,
	AMT money NULL,
	DESCRPN char(60) NULL,
	ENTRDATE datetime NULL,
	REVERSAL char(1) NOT NULL,
	STATUS char(1) NOT NULL,
	OEXCHGREF char(8) NULL,
	BASIS char(1) NOT NULL,
	LASTDATE datetime NULL,
	USERID char(20) NULL,
	OCURRCODE char(3) NULL,
	OAMT money NULL,
	REVREF char(6) NULL,
	INTENTENTRY char(1) NULL,
	INTENTTYPE char(3) NULL,
	CJEGRPID char(5) NULL,
	CJEID char(8) NULL,
	DESTITEM int NULL,
	AUDITFLAG char(1) NULL,
	REVENTRY char(1) NULL,
	REVPRD char(6) NULL,
	REVITEM smallint NULL,
	OWNERTAX char(1) NULL,
	OWNPCTCALC datetime NULL,
	JC_PHASECODE char(5) NULL,
	JC_COSTLIST char(3) NULL,
	JC_COSTCODE char(6) NULL,
	CATEGORY char(1) NULL,
	ADDLDESC text NULL,
	OWNTBL char(20) NULL,
	OWNYEAR char(4) NULL,
	OWNNUM float(53) NULL,
	CTRYTBL char(20) NULL,
	CTRYYEAR char(4) NULL,
	CTRYNUM float(53) NULL,
	BANKRECID float(53) NULL,
	BRSTATUS char(1) NULL,
	IMPORT char(10) NULL,
	SourcePrimaryKey  AS ((((((((('PERIOD='+[PERIOD])+'&REF=')+[REF])+'&SOURCE=')+[SOURCE])+'&SITEID=')+[SITEID])+'&ITEM=')+ltrim(str([ITEM],(10),(0)))) PERSISTED 
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE USCorp.Tmp_JOURNAL SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE USCorp.Tmp_JOURNAL ADD CONSTRAINT
	DF_JOURNAL_ImportDate DEFAULT (getdate()) FOR ImportDate
GO
SET IDENTITY_INSERT USCorp.Tmp_JOURNAL ON
GO
IF EXISTS(SELECT * FROM USCorp.JOURNAL)
	 EXEC('INSERT INTO USCorp.Tmp_JOURNAL (ImportKey, ImportBatchId, ImportDate, PERIOD, REF, SOURCE, SITEID, ITEM, ENTITYID, ACCTNUM, DEPARTMENT, JOBCODE, AMT, DESCRPN, ENTRDATE, REVERSAL, STATUS, OEXCHGREF, BASIS, LASTDATE, USERID, OCURRCODE, OAMT, REVREF, INTENTENTRY, INTENTTYPE, CJEGRPID, CJEID, DESTITEM, AUDITFLAG, REVENTRY, REVPRD, REVITEM, OWNERTAX, OWNPCTCALC, JC_PHASECODE, JC_COSTLIST, JC_COSTCODE, CATEGORY, ADDLDESC, OWNTBL, OWNYEAR, OWNNUM, CTRYTBL, CTRYYEAR, CTRYNUM, BANKRECID, BRSTATUS, IMPORT)
		SELECT ImportKey, ImportBatchId, ImportDate, PERIOD, REF, SOURCE, SITEID, ITEM, ENTITYID, ACCTNUM, DEPARTMENT, JOBCODE, AMT, DESCRPN, ENTRDATE, REVERSAL, STATUS, OEXCHGREF, BASIS, LASTDATE, USERID, OCURRCODE, OAMT, REVREF, INTENTENTRY, INTENTTYPE, CJEGRPID, CJEID, DESTITEM, AUDITFLAG, REVENTRY, REVPRD, REVITEM, OWNERTAX, OWNPCTCALC, JC_PHASECODE, JC_COSTLIST, JC_COSTCODE, CATEGORY, ADDLDESC, OWNTBL, OWNYEAR, OWNNUM, CTRYTBL, CTRYYEAR, CTRYNUM, BANKRECID, BRSTATUS, IMPORT FROM USCorp.JOURNAL WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT USCorp.Tmp_JOURNAL OFF
GO
DROP TABLE USCorp.JOURNAL
GO
EXECUTE sp_rename N'USCorp.Tmp_JOURNAL', N'JOURNAL', 'OBJECT' 
GO
ALTER TABLE USCorp.JOURNAL ADD CONSTRAINT
	PK_JOURNAL_2 PRIMARY KEY CLUSTERED 
	(
	ImportKey
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IX_SourcePrimaryKey ON USCorp.JOURNAL
	(
	SourcePrimaryKey
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
