USE GrReportingStaging
GO


/*
   Thursday, May 31, 20121:47:08 AM
   User: 
   Server: BISQLDEV\DEV
   Database: GrReportingStaging
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE USCorp.GHIS
	DROP CONSTRAINT DF_GHIS_ImportDate
GO
CREATE TABLE USCorp.Tmp_GHIS
	(
	ImportKey int NOT NULL IDENTITY (1, 1),
	ImportBatchId int NOT NULL,
	ImportDate datetime NOT NULL,
	PERIOD char(6) NOT NULL,
	REF char(6) NOT NULL,
	SOURCE char(2) NOT NULL,
	SITEID char(2) NOT NULL,
	ITEM int NOT NULL,
	ENTITYID char(6) NOT NULL,
	ACCTNUM char(14) NOT NULL,
	DEPARTMENT char(6) NOT NULL,
	JOBCODE char(15) NULL,
	AMT money NULL,
	DESCRPN char(60) NULL,
	PDENTRY char(6) NULL,
	ENTRDATE datetime NULL,
	OWNERTAX char(1) NULL,
	BASIS char(1) NOT NULL,
	BALFOR char(1) NOT NULL,
	OCURRCODE char(3) NULL,
	OAMT money NULL,
	OEXCHGREF char(8) NULL,
	PPCJEFLAG char(1) NULL,
	CJEGRPID char(5) NULL,
	CJEID char(8) NULL,
	DESTITEM int NULL,
	AUDITFLAG char(1) NULL,
	REVREF char(6) NULL,
	REVENTRY char(1) NULL,
	REVPRD char(6) NULL,
	INTENTENTRY char(1) NULL,
	INTENTTYPE char(3) NULL,
	REVITEM smallint NULL,
	OWNPCTCALC datetime NULL,
	JC_PHASECODE char(5) NULL,
	JC_COSTLIST char(3) NULL,
	JC_COSTCODE char(6) NULL,
	CATEGORY char(1) NULL,
	ADDLDESC text NULL,
	OWNTBL char(20) NULL,
	OWNYEAR char(4) NULL,
	OWNNUM float(53) NULL,
	CTRYTBL char(20) NULL,
	CTRYYEAR char(4) NULL,
	CTRYNUM float(53) NULL,
	BANKRECID float(53) NULL,
	BRSTATUS char(1) NULL,
	SourcePrimaryKey  AS ((((((((('PERIOD='+[PERIOD])+'&REF=')+[REF])+'&SOURCE=')+[SOURCE])+'&SITEID=')+[SITEID])+'&ITEM=')+ltrim(str([ITEM],(10),(0)))) PERSISTED 
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE USCorp.Tmp_GHIS SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE USCorp.Tmp_GHIS ADD CONSTRAINT
	DF_GHIS_ImportDate DEFAULT (getdate()) FOR ImportDate
GO
SET IDENTITY_INSERT USCorp.Tmp_GHIS ON
GO
IF EXISTS(SELECT * FROM USCorp.GHIS)
	 EXEC('INSERT INTO USCorp.Tmp_GHIS (ImportKey, ImportBatchId, ImportDate, PERIOD, REF, SOURCE, SITEID, ITEM, ENTITYID, ACCTNUM, DEPARTMENT, JOBCODE, AMT, DESCRPN, PDENTRY, ENTRDATE, OWNERTAX, BASIS, BALFOR, OCURRCODE, OAMT, OEXCHGREF, PPCJEFLAG, CJEGRPID, CJEID, DESTITEM, AUDITFLAG, REVREF, REVENTRY, REVPRD, INTENTENTRY, INTENTTYPE, REVITEM, OWNPCTCALC, JC_PHASECODE, JC_COSTLIST, JC_COSTCODE, CATEGORY, ADDLDESC, OWNTBL, OWNYEAR, OWNNUM, CTRYTBL, CTRYYEAR, CTRYNUM, BANKRECID, BRSTATUS)
		SELECT ImportKey, ImportBatchId, ImportDate, PERIOD, REF, SOURCE, SITEID, ITEM, ENTITYID, ACCTNUM, DEPARTMENT, JOBCODE, AMT, DESCRPN, PDENTRY, ENTRDATE, OWNERTAX, BASIS, BALFOR, OCURRCODE, OAMT, OEXCHGREF, PPCJEFLAG, CJEGRPID, CJEID, DESTITEM, AUDITFLAG, REVREF, REVENTRY, REVPRD, INTENTENTRY, INTENTTYPE, REVITEM, OWNPCTCALC, JC_PHASECODE, JC_COSTLIST, JC_COSTCODE, CATEGORY, ADDLDESC, OWNTBL, OWNYEAR, OWNNUM, CTRYTBL, CTRYYEAR, CTRYNUM, BANKRECID, BRSTATUS FROM USCorp.GHIS WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT USCorp.Tmp_GHIS OFF
GO
DROP TABLE USCorp.GHIS
GO
EXECUTE sp_rename N'USCorp.Tmp_GHIS', N'GHIS', 'OBJECT' 
GO
ALTER TABLE USCorp.GHIS ADD CONSTRAINT
	PK_GHIS_1 PRIMARY KEY CLUSTERED 
	(
	ImportKey
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX IX_SourcePrimaryKey ON USCorp.GHIS
	(
	SourcePrimaryKey
	) WITH( PAD_INDEX = ON, FILLFACTOR = 85, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_ENTITYID ON USCorp.GHIS
	(
	ENTITYID
	) INCLUDE (PERIOD, REF, SOURCE, ACCTNUM, DEPARTMENT, JOBCODE, AMT, DESCRPN, ENTRDATE) 
 WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_ENTRDATE ON USCorp.GHIS
	(
	ENTRDATE
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
